{% extends "template_base.html" %}

{% block title %}
    TRAGOS Y MAS
{% endblock %}

{% block content %}
    <section id="atrevidos" class="card-section">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="cell">
                    <h2 class="text-center">Atrevidos</h2>
                </div>
            </div>
            
            <div class="grid-x grid-padding-x small-up-1 medium-up-2 large-up-3">
                <div class="cell">
                    <div class="card">
                        <img src="{{url_for('static', filename='img/nuevos/chocokat.jpg')}}" alt="Chocokat">
                        <div class="card-section">
                            <h4>Chocokat</h4>
                            <p>Licor de chocolate, absolut de vainilla, licor de amaretto, leche y salsa de chocolate</p>
                            <p>$5.200</p>
                            <button class="button expanded">Cargar al carrito</button>
                        </div>
                    </div>
                </div>
                
                <div class="cell">
                    <div class="card">
                        <img src="{{url_for('static', filename='img/nuevos/dolly_pop_cherry.jpg')}}" alt="Dolly pop cherry">
                        <div class="card-section">
                            <h4>Dolly pop cherry</h4>
                            <p>Vodka, licor de cherry y frutilla</p>
                            <p>$4.500</p>
                            <button class="button expanded">Cargar al carrito</button>
                        </div>
                    </div>
                </div>
                
                <div class="cell">
                    <div class="card">
                        <img src="{{url_for('static', filename='img/nuevos/dolly_pop_uva.jpg')}}" alt="Dolly pop uva">
                        <div class="card-section">
                            <h4>Dolly pop uva</h4>
                            <p>Vodka, licor de violetas y cordial de uva</p>
                            <p>$5.200</p>
                            <button class="button expanded">Cargar al carrito</button>
                        </div>
                    </div>
                </div>
                
                <div class="cell">
                    <div class="card">
                        <img src="{{url_for('static', filename='img/nuevos/gomitas.jpg')}}" alt="Gomitas">
                        <div class="card-section">
                            <h4>Gomitas</h4>
                            <p>Granadina, Vodka, Blue Curacao y jugo de Naranja</p>
                            <p>$5.200</p>
                            <button class="button expanded">Cargar al carrito</button>
                        </div>
                    </div>
                </div>
                
                <div class="cell">
                    <div class="card">
                        <img src="{{url_for('static', filename='img/nuevos/reina.jpg')}}" alt="Reina">
                        <div class="card-section">
                            <h4>Reina</h4>
                            <p>Frutos Rojos, Ron Dorado y limón</p>
                            <p>$5.200</p>
                            <button class="button expanded">Cargar al carrito</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="autor" class="card-section">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="cell">
                    <h2 class="text-center">Autor</h2>
                </div>
            </div>
            
            <div class="grid-x grid-padding-x small-up-1 medium-up-2 large-up-3">
                <div class="cell">
                    <div class="card">
                        <img src="{{url_for('static', filename='img/autor/bosque_sur.jpg')}}" alt="Bosque sur">
                        <div class="card-section">
                            <h4>Bosque sur</h4>
                            <p>Gin london dry, néctar de jengibre, limón, almibar, bitter angostura, cerveza y menta</p>
                            <p>$4.800</p>
                            <button class="button expanded">Cargar al carrito</button>
                        </div>
                    </div>
                </div>
                
                <div class="cell">
                    <div class="card">
                        <img src="{{url_for('static', filename='img/autor/braavos_mule.jpg')}}" alt="Braavos mule">
                        <div class="card-section">
                            <h4>Braavos mule</h4>
                            <p>Ron dorado, cynar, reducción de frambuesa, limón y tuntura de cacao</p>
                            <p>$5.200</p>
                            <button class="button expanded">Cargar al carrito</button>
                        </div>
                    </div>
                </div>
                
                <div class="cell">
                    <div class="card">
                        <img src="{{url_for('static', filename='img/autor/pentos_fix.jpg')}}" alt="Pentos fix">
                        <div class="card-section">
                            <h4>Pentos fix</h4>
                            <p>Sernova, licor de sauco, limón, almibar, tintura de hibiscus y damasco</p>
                            <p>$4.800</p>
                            <button class="button expanded">Cargar al carrito</button>
                        </div>
                    </div>
                </div>
                
                <div class="cell">
                    <div class="card">
                        <img src="{{url_for('static', filename='img/autor/vermucito.jpg')}}" alt="Vermucito">
                        <div class="card-section">
                            <h4>Vermucito</h4>
                            <p>Carpano Vermu, gin brighton, london dry, cordial de lima, soda de pera y perfume de lavanda</p>
                            <p>$4.800</p>
                            <button class="button expanded">Cargar al carrito</button>
                        </div>
                    </div>
                </div>
                
                <div class="cell">
                    <div class="card">
                        <img src="{{url_for('static', filename='img/autor/vintage.jpg')}}" alt="Vintage">
                        <div class="card-section">
                            <h4>Vintage</h4>
                            <p>Whisky americano, almibar, bitter de mango y pimineta negra, humo</p>
                            <p>$5.200</p>
                            <button class="button expanded">Cargar al carrito</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="gin-tonic" class="card-section">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="cell">
                    <h2 class="text-center">Gin tonic</h2>
                </div>
            </div>
            
            <div class="grid-x grid-padding-x small-up-1 medium-up-2 large-up-3">
                <!-- Repite la estructura de la tarjeta para cada gin tonic -->
            </div>
        </div>
    </section>

    <section id="caipis" class="card-section">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="cell">
                    <h2 class="text-center">Caipis</h2>
                </div>
            </div>
            
            <div class="grid-x grid-padding-x small-up-1 medium-up-2 large-up-3">
                <!-- Repite la estructura de la tarjeta para cada caipi -->
            </div>
        </div>
    </section>

    <section id="clasicos" class="card-section">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="cell">
                    <h2 class="text-center">Clásicos</h2>
                </div>
            </div>
            
            <div class="grid-x grid-padding-x small-up-1 medium-up-2 large-up-3">
                <!-- Repite la estructura de la tarjeta para cada clásico -->
            </div>
        </div>
    </section>

    <section id="spritz" class="card-section">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="cell">
                    <h2 class="text-center">Spritz</h2>
                </div>
            </div>
            
            <div class="grid-x grid-padding-x small-up-1 medium-up-2 large-up-3">
                <!-- Repite la estructura de la tarjeta para cada spritz -->
            </div>
        </div>
    </section>

    <section id="birras" class="card-section">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="cell">
                    <h2 class="text-center">Birras</h2>
                </div>
            </div>
            
            <div class="grid-x grid-padding-x small-up-1 medium-up-2 large-up-3">
                <!-- Repite la estructura de la tarjeta para cada birra -->
            </div>
        </div>
    </section>

    <section id="burgers" class="card-section">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="cell">
                    <h2 class="text-center">Burgers</h2>
                </div>
            </div>
            
            <div class="grid-x grid-padding-x small-up-1 medium-up-2 large-up-3">
                <!-- Repite la estructura de la tarjeta para cada burger -->
            </div>
        </div>
    </section>

    <section id="papas" class="card-section">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="cell">
                    <h2 class="text-center">Papas</h2>
                </div>
            </div>
            
            <div class="grid-x grid-padding-x small-up-1 medium-up-2 large-up-3">
                <!-- Repite la estructura de la tarjeta para cada tipo de papas -->
            </div>
        </div>
    </section>

    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="cell">
                <br>
            </div>
        </div>
    </div>
{% endblock %}