{% extends "template_base.html" %}

{% block title %}
TRAGOS Y MAS
{% endblock %}

{% block content %}
<section id="atrevidos" class="card-section">
    <div class="grid-container" style="margin-top: 20px;">
        <div class="grid-x grid-padding-x">
            <div class="cell">
                <h2 class="text-center">Atrevidos</h2>
            </div>
        </div>

        <!-- Carta 1: Chocokat -->
        <div class="card border-dark my-2">
            <div class="grid-x grid-padding-x">
                <div class="cell small-5">
                    <img class="thumbnail" src="{{url_for('static', filename='img/nuevos/chocokat.jpg')}}" alt="Chocokat" style="height: 100%; object-fit: cover;">
                </div>
                <div class="cell small-7">
                    <div class="card-content">
                        <h4 class="h5">Chocokat</h4>
                        <p>Licor de chocolate, absolut de vainilla, licor de amaretto, leche y salsa de chocolate</p>
                        <p>$5.200</p>
                        <div class="grid-x align-center">
                            <div class="cell shrink">
                                <button class="button secondary expanded">Cargar al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Carta 2: Dolly pop cherry -->
        <div class="card border-dark my-2">
            <div class="grid-x grid-padding-x">
                <div class="cell small-5">
                    <img class="thumbnail" src="{{url_for('static', filename='img/nuevos/dolly_pop_cherry.jpg')}}" alt="Dolly pop cherry" style="height: 100%; object-fit: cover;">
                </div>
                <div class="cell small-7">
                    <div class="card-content">
                        <h4 class="h5">Dolly pop cherry</h4>
                        <p>Vodka, licor de cherry y frutilla</p>
                        <p>$4.500</p>
                        <div class="grid-x align-center">
                            <div class="cell shrink">
                                <button class="button secondary expanded">Cargar al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Carta 3: Dolly pop uva -->
        <div class="card border-dark my-2">
            <div class="grid-x grid-padding-x">
                <div class="cell small-5">
                    <img class="thumbnail" src="{{url_for('static', filename='img/nuevos/dolly_pop_uva.jpg')}}" alt="Dolly pop uva" style="height: 100%; object-fit: cover;">
                </div>
                <div class="cell small-7">
                    <div class="card-content">
                        <h4 class="h5">Dolly pop uva</h4>
                        <p>Vodka, licor de violetas y cordial de uva</p>
                        <p>$5.200</p>
                        <div class="grid-x align-center">
                            <div class="cell shrink">
                                <button class="button secondary expanded">Cargar al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section id="autor" class="card-section">
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="cell">
                <h2 class="text-center">Autor</h2>
            </div>
        </div>

        <!-- Carta 1: Bosque sur -->
        <div class="card border-dark my-2">
            <div class="grid-x grid-padding-x">
                <div class="cell small-5">
                    <img class="thumbnail" src="{{url_for('static', filename='img/autor/bosque_sur.jpg')}}" alt="Bosque sur" style="height: 100%; object-fit: cover;">
                </div>
                <div class="cell small-7">
                    <div class="card-content">
                        <h4 class="h5">Bosque sur</h4>
                        <p>Gin london dry, néctar de jengibre, limón, almibar, bitter angostura, cerveza y menta</p>
                        <p>$4.800</p>
                        <div class="grid-x align-center">
                            <div class="cell shrink">
                                <button class="button secondary expanded">Cargar al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Carta 2: Braavos mule -->
        <div class="card border-dark my-2">
            <div class="grid-x grid-padding-x">
                <div class="cell small-5">
                    <img class="thumbnail" src="{{url_for('static', filename='img/autor/braavos_mule.jpg')}}" alt="Braavos mule" style="height: 100%; object-fit: cover;">
                </div>
                <div class="cell small-7">
                    <div class="card-content">
                        <h4 class="h5">Braavos mule</h4>
                        <p>Ron dorado, cynar, reducción de frambuesa, limón y tintura de cacao</p>
                        <p>$5.200</p>
                        <div class="grid-x align-center">
                            <div class="cell shrink">
                                <button class="button secondary expanded">Cargar al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Carta 3: Pentos fix -->
        <div class="card border-dark my-2">
            <div class="grid-x grid-padding-x">
                <div class="cell small-5">
                    <img class="thumbnail" src="{{url_for('static', filename='img/autor/pentos_fix.jpg')}}" alt="Pentos fix" style="height: 100%; object-fit: cover;">
                </div>
                <div class="cell small-7">
                    <div class="card-content">
                        <h4 class="h5">Pentos fix</h4>
                        <p>Sernova, licor de sauco, limón, almibar, tintura de hibiscus y damasco</p>
                        <p>$4.800</p>
                        <div class="grid-x align-center">
                            <div class="cell shrink">
                                <button class="button secondary expanded">Cargar al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Carta 4: Vermucito -->
        <div class="card border-dark my-2">
            <div class="grid-x grid-padding-x">
                <div class="cell small-5">
                    <img class="thumbnail" src="{{url_for('static', filename='img/autor/vermucito.jpg')}}" alt="Vermucito" style="height: 100%; object-fit: cover;">
                </div>
                <div class="cell small-7">
                    <div class="card-content">
                        <h4 class="h5">Vermucito</h4>
                        <p>Carpano Vermu, gin brighton, london dry, cordial de lima, soda de pera y perfume de lavanda</p>
                        <p>$4.800</p>
                        <div class="grid-x align-center">
                            <div class="cell shrink">
                                <button class="button secondary expanded">Cargar al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Carta 5: Vintage -->
        <div class="card border-dark my-2">
            <div class="grid-x grid-padding-x">
                <div class="cell small-5">
                    <img class="thumbnail" src="{{url_for('static', filename='img/autor/vintage.jpg')}}" alt="Vintage" style="height: 100%; object-fit: cover;">
                </div>
                <div class="cell small-7">
                    <div class="card-content">
                        <h4 class="h5">Vintage</h4>
                        <p>Whisky americano, almibar, bitter de mango y pimienta negra, humo</p>
                        <p>$5.200</p>
                        <div class="grid-x align-center">
                            <div class="cell shrink">
                                <button class="button secondary expanded">Cargar al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section id="gin-tonic" class="card-section">
  <div class="grid-container">
      <div class="grid-x grid-padding-x">
          <div class="cell">
              <h2 class="text-center">Gin Tonic</h2>
          </div>
      </div>

      <!-- Carta 1: Gin campamento -->
      <div class="card border-dark my-2">
          <div class="grid-x grid-padding-x">
              <div class="cell small-5">
                  <img class="thumbnail" src="{{url_for('static', filename='img/gin_tonic/gin_campamento.jpg')}}" alt="Gin campamento" style="height: 100%; object-fit: cover;">
              </div>
              <div class="cell small-7">
                  <div class="card-content">
                      <h4 class="h5">Gin campamento</h4>
                      <p>Eucalipto y cacap tostado</p>
                      <p>$5.200</p>
                      <div class="grid-x align-center">
                          <div class="cell shrink">
                              <button class="button secondary expanded">Cargar al carrito</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Carta 2: Gin jamaica -->
      <div class="card border-dark my-2">
          <div class="grid-x grid-padding-x">
              <div class="cell small-5">
                  <img class="thumbnail" src="{{url_for('static', filename='img/gin_tonic/gin_jamaica.jpg')}}" alt="Gin jamaica" style="height: 100%; object-fit: cover;">
              </div>
              <div class="cell small-7">
                  <div class="card-content">
                      <h4 class="h5">Gin jamaica</h4>
                      <p>Albahaca e hibiscus</p>
                      <p>$5.200</p>
                      <div class="grid-x align-center">
                          <div class="cell shrink">
                              <button class="button secondary expanded">Cargar al carrito</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Carta 3: Gin lunfardo -->
      <div class="card border-dark my-2">
          <div class="grid-x grid-padding-x">
              <div class="cell small-5">
                  <img class="thumbnail" src="{{url_for('static', filename='img/gin_tonic/gin_lunfardo.jpg')}}" alt="Gin lunfardo" style="height: 100%; object-fit: cover;">
              </div>
              <div class="cell small-7">
                  <div class="card-content">
                      <h4 class="h5">Gin lunfardo</h4>
                      <p>Carpano vermu, cedrón y pomelo</p>
                      <p>$5.200</p>
                      <div class="grid-x align-center">
                          <div class="cell shrink">
                              <button class="button secondary expanded">Cargar al carrito</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Carta 4: Gin passion -->
      <div class="card border-dark my-2">
          <div class="grid-x grid-padding-x">
              <div class="cell small-5">
                  <img class="thumbnail" src="{{url_for('static', filename='img/gin_tonic/gin_passion.jpg')}}" alt="Gin passion" style="height: 100%; object-fit: cover;">
              </div>
              <div class="cell small-7">
                  <div class="card-content">
                      <h4 class="h5">Gin passion</h4>
                      <p>Maracuyá y pimineta rosa</p>
                      <p>$5.200</p>
                      <div class="grid-x align-center">
                          <div class="cell shrink">
                              <button class="button secondary expanded">Cargar al carrito</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Carta 5: Gin patagónico -->
      <div class="card border-dark my-2">
          <div class="grid-x grid-padding-x">
              <div class="cell small-5">
                  <img class="thumbnail" src="{{url_for('static', filename='img/gin_tonic/gin_patagonico.jpg')}}" alt="Gin patagónico" style="height: 100%; object-fit: cover;">
              </div>
              <div class="cell small-7">
                  <div class="card-content">
                      <h4 class="h5">Gin patagónico</h4>
                      <p>Pera y vino Chardonnay</p>
                      <p>$5.200</p>
                      <div class="grid-x align-center">
                          <div class="cell shrink">
                              <button class="button secondary expanded">Cargar al carrito</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Carta 6: Gin ramos -->
      <div class="card border-dark my-2">
          <div class="grid-x grid-padding-x">
              <div class="cell small-5">
                  <img class="thumbnail" src="{{url_for('static', filename='img/gin_tonic/gin_ramos.jpg')}}" alt="Gin ramos" style="height: 100%; object-fit: cover;">
              </div>
              <div class="cell small-7">
                  <div class="card-content">
                      <h4 class="h5">Gin ramos</h4>
                      <p>Frambuesa, menta y pimineta negra tostada</p>
                      <p>$5.200</p>
                      <div class="grid-x align-center">
                          <div class="cell shrink">
                              <button class="button secondary expanded">Cargar al carrito</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Carta 7: Gin tropical -->
      <div class="card border-dark my-2">
          <div class="grid-x grid-padding-x">
              <div class="cell small-5">
                  <img class="thumbnail" src="{{url_for('static', filename='img/gin_tonic/gin_tropical.jpg')}}" alt="Gin tropical" style="height: 100%; object-fit: cover;">
              </div>
              <div class="cell small-7">
                  <div class="card-content">
                      <h4 class="h5">Gin tropical</h4>
                      <p>Lemograss y ananá</p>
                      <p>$5.200</p>
                      <div class="grid-x align-center">
                          <div class="cell shrink">
                              <button class="button secondary expanded">Cargar al carrito</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Carta 8: Tronic 2.0 -->
      <div class="card border-dark my-2">
          <div class="grid-x grid-padding-x">
              <div class="cell small-5">
                  <img class="thumbnail" src="{{url_for('static', filename='img/gin_tonic/tronic_2.0.jpg')}}" alt="Tronic 2.0" style="height: 100%; object-fit: cover;">
              </div>
              <div class="cell small-7">
                  <div class="card-content">
                      <h4 class="h5">Tronic 2.0</h4>
                      <p>Mango y guaraná</p>
                      <p>$5.200</p>
                      <div class="grid-x align-center">
                          <div class="cell shrink">
                              <button class="button secondary expanded">Cargar al carrito</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </div>
</section>


<section id="caipis" class="card-section">
  <div class="grid-container">
      <div class="grid-x grid-padding-x">
          <div class="cell">
              <h2 class="text-center">Caipis</h2>
          </div>
      </div>

      <!-- Carta 1: Caipiberry -->
      <div class="card border-dark my-2">
          <div class="grid-x grid-padding-x">
              <div class="cell small-5">
                  <img class="thumbnail" src="{{url_for('static', filename='img/caipis/caipiberry.jpg')}}" alt="Caipiberry" style="height: 100%; object-fit: cover;">
              </div>
              <div class="cell small-7">
                  <div class="card-content">
                      <h4 class="h5">Caipiberry</h4>
                      <p>$4.600</p>
                      <div class="grid-x align-center">
                          <div class="cell shrink">
                              <button class="button secondary expanded">Cargar al carrito</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Carta 2: Caipijagger -->
      <div class="card border-dark my-2">
          <div class="grid-x grid-padding-x">
              <div class="cell small-5">
                  <img class="thumbnail" src="{{url_for('static', filename='img/caipis/caipijagger.jpg')}}" alt="Caipijagger" style="height: 100%; object-fit: cover;">
              </div>
              <div class="cell small-7">
                  <div class="card-content">
                      <h4 class="h5">Caipijagger</h4>
                      <p>$4.600</p>
                      <div class="grid-x align-center">
                          <div class="cell shrink">
                              <button class="button secondary expanded">Cargar al carrito</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Carta 3: Caipirinha -->
      <div class="card border-dark my-2">
          <div class="grid-x grid-padding-x">
              <div class="cell small-5">
                  <img class="thumbnail" src="{{url_for('static', filename='img/caipis/caipirinha.jpg')}}" alt="Caipirinha" style="height: 100%; object-fit: cover;">
              </div>
              <div class="cell small-7">
                  <div class="card-content">
                      <h4 class="h5">Caipirinha</h4>
                      <p>$4.600</p>
                      <div class="grid-x align-center">
                          <div class="cell shrink">
                              <button class="button secondary expanded">Cargar al carrito</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Carta 4: Caipitropical -->
      <div class="card border-dark my-2">
          <div class="grid-x grid-padding-x">
              <div class="cell small-5">
                  <img class="thumbnail" src="{{url_for('static', filename='img/caipis/caipitropical.jpg')}}" alt="Caipitropical" style="height: 100%; object-fit: cover;">
              </div>
              <div class="cell small-7">
                  <div class="card-content">
                      <h4 class="h5">Caipitropical</h4>
                      <p>$4.600</p>
                      <div class="grid-x align-center">
                          <div class="cell shrink">
                              <button class="button secondary expanded">Cargar al carrito</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section id="clasicos" class="card-section">
  <div class="grid-container">
      <div class="grid-x grid-padding-x">
          <div class="cell">
              <h2 class="text-center">Clásicos</h2>
          </div>
      </div>

      <!-- Carta 1: Campari -->
      <div class="card border-dark my-2">
          <div class="grid-x grid-padding-x">
              <div class="cell small-5">
                  <img class="thumbnail" src="{{url_for('static', filename='img/clasicos/campari.jpg')}}" alt="Campari" style="height: 100%; object-fit: cover;">
              </div>
              <div class="cell small-7">
                  <div class="card-content">
                      <h4 class="h5">Campari</h4>
                      <p>$4.600</p>
                      <div class="grid-x align-center">
                          <div class="cell shrink">
                              <button class="button secondary expanded">Cargar al carrito</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Carta 2: Fernet Branca -->
      <div class="card border-dark my-2">
          <div class="grid-x grid-padding-x">
              <div class="cell small-5">
                  <img class="thumbnail" src="{{url_for('static', filename='img/clasicos/fernet.jpg')}}" alt="Fernet Branca" style="height: 100%; object-fit: cover;">
              </div>
              <div class="cell small-7">
                  <div class="card-content">
                      <h4 class="h5">Fernet Branca</h4>
                      <p>$4.600</p>
                      <div class="grid-x align-center">
                          <div class="cell shrink">
                              <button class="button secondary expanded">Cargar al carrito</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Carta 3: Mojito -->
      <div class="card border-dark my-2">
          <div class="grid-x grid-padding-x">
              <div class="cell small-5">
                  <img class="thumbnail" src="{{url_for('static', filename='img/clasicos/mojito.jpg')}}" alt="Mojito" style="height: 100%; object-fit: cover;">
              </div>
              <div class="cell small-7">
                  <div class="card-content">
                      <h4 class="h5">Mojito</h4>
                      <p>$4.600</p>
                      <div class="grid-x align-center">
                          <div class="cell shrink">
                              <button class="button secondary expanded">Cargar al carrito</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section id="spritz" class="card-section">
  <div class="grid-container">
      <div class="grid-x grid-padding-x">
          <div class="cell">
              <h2 class="text-center">Spritz</h2>
          </div>
      </div>

      <!-- Carta 1: Spritz n1 -->
      <div class="card border-dark my-2">
          <div class="grid-x grid-padding-x">
              <div class="cell small-5">
                  <img class="thumbnail" src="{{url_for('static', filename='img/spritz/spritz_n1.jpg')}}" alt="Spritz n1" style="height: 100%; object-fit: cover;">
              </div>
              <div class="cell small-7">
                  <div class="card-content">
                      <h4 class="h5">Spritz n1</h4>
                      <p>$5.150</p>
                      <div class="grid-x align-center">
                          <div class="cell shrink">
                              <button class="button secondary expanded">Cargar al carrito</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Carta 2: Spritz n2 -->
      <div class="card border-dark my-2">
          <div class="grid-x grid-padding-x">
              <div class="cell small-5">
                  <img class="thumbnail" src="{{url_for('static', filename='img/spritz/spritz_n2.jpg')}}" alt="Spritz n2" style="height: 100%; object-fit: cover;">
              </div>
              <div class="cell small-7">
                  <div class="card-content">
                      <h4 class="h5">Spritz n2</h4>
                      <p>$5.150</p>
                      <div class="grid-x align-center">
                          <div class="cell shrink">
                              <button class="button secondary expanded">Cargar al carrito</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Carta 3: Spritz n3 -->
      <div class="card border-dark my-2">
          <div class="grid-x grid-padding-x">
              <div class="cell small-5">
                  <img class="thumbnail" src="{{url_for('static', filename='img/spritz/spritz_n3.jpg')}}" alt="Spritz n3" style="height: 100%; object-fit: cover;">
              </div>
              <div class="cell small-7">
                  <div class="card-content">
                      <h4 class="h5">Spritz n3</h4>
                      <p>$5.150</p>
                      <div class="grid-x align-center">
                          <div class="cell shrink">
                              <button class="button secondary expanded">Cargar al carrito</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Carta 4: Spritz n4 -->
      <div class="card border-dark my-2">
          <div class="grid-x grid-padding-x">
              <div class="cell small-5">
                  <img class="thumbnail" src="{{url_for('static', filename='img/spritz/spritz_n4.jpg')}}" alt="Spritz n4" style="height: 100%; object-fit: cover;">
              </div>
              <div class="cell small-7">
                  <div class="card-content">
                      <h4 class="h5">Spritz n4</h4>
                      <p>$5.150</p>
                      <div class="grid-x align-center">
                          <div class="cell shrink">
                              <button class="button secondary expanded">Cargar al carrito</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Carta 5: Spritz n5 -->
      <div class="card border-dark my-2">
          <div class="grid-x grid-padding-x">
              <div class="cell small-5">
                  <img class="thumbnail" src="{{url_for('static', filename='img/spritz/spritz_n5.jpg')}}" alt="Spritz n5" style="height: 100%; object-fit: cover;">
              </div>
              <div class="cell small-7">
                  <div class="card-content">
                      <h4 class="h5">Spritz n5</h4>
                      <p>$5.150</p>
                      <div class="grid-x align-center">
                          <div class="cell shrink">
                              <button class="button secondary expanded">Cargar al carrito</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Carta 6: Spritz n6 -->
      <div class="card border-dark my-2">
          <div class="grid-x grid-padding-x">
              <div class="cell small-5">
                  <img class="thumbnail" src="{{url_for('static', filename='img/spritz/spritz_n6.jpg')}}" alt="Spritz n6" style="height: 100%; object-fit: cover;">
              </div>
              <div class="cell small-7">
                  <div class="card-content">
                      <h4 class="h5">Spritz n6</h4>
                      <p>$5.150</p>
                      <div class="grid-x align-center">
                          <div class="cell shrink">
                              <button class="button secondary expanded">Cargar al carrito</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section id="birras" class="card-section">
  <div class="grid-container">
      <div class="grid-x grid-padding-x">
          <div class="cell">
              <h2 class="text-center">Birras</h2>
          </div>
      </div>

      <!-- Carta 1: Corona -->
      <div class="card border-dark my-2">
          <div class="grid-x grid-padding-x">
              <div class="cell small-5">
                  <img class="thumbnail" src="{{url_for('static', filename='img/birras/coronas.jpg')}}" alt="Corona" style="height: 100%; object-fit: cover;">
              </div>
              <div class="cell small-7">
                  <div class="card-content">
                      <h4 class="h5">Corona</h4>
                      <p>$4.000</p>
                      <div class="grid-x align-center">
                          <div class="cell shrink">
                              <button class="button secondary expanded">Cargar al carrito</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Carta 2: Heineken -->
      <div class="card border-dark my-2">
          <div class="grid-x grid-padding-x">
              <div class="cell small-5">
                  <img class="thumbnail" src="{{url_for('static', filename='img/birras/heineken.jpg')}}" alt="Heineken" style="height: 100%; object-fit: cover;">
              </div>
              <div class="cell small-7">
                  <div class="card-content">
                      <h4 class="h5">Heineken</h4>
                      <p>$4.000</p>
                      <div class="grid-x align-center">
                          <div class="cell shrink">
                              <button class="button secondary expanded">Cargar al carrito</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section id="burgers" class="card-section">
  <div class="grid-container">
      <div class="grid-x grid-padding-x">
          <div class="cell">
              <h2 class="text-center">Burgers</h2>
          </div>
      </div>

      <!-- Carta 1: Clásica -->
      <div class="card border-dark my-2">
          <div class="grid-x grid-padding-x">
              <div class="cell small-5">
                  <img class="thumbnail" src="{{url_for('static', filename='img/burgers/clasica.jpg')}}" alt="Clásica" style="height: 100%; object-fit: cover;">
              </div>
              <div class="cell small-7">
                  <div class="card-content">
                      <h4 class="h5">Clásica</h4>
                      <p>Medallón x2, cheddar, lechuga, tomate, cebolla y salsa especial</p>
                      <p>$9.000</p>
                      <div class="grid-x align-center">
                          <div class="cell shrink">
                              <button class="button secondary expanded">Cargar al carrito</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Carta 2: Argenta -->
      <div class="card border-dark my-2">
          <div class="grid-x grid-padding-x">
              <div class="cell small-5">
                  <img class="thumbnail" src="{{url_for('static', filename='img/burgers/argenta.jpg')}}" alt="Argenta" style="height: 100%; object-fit: cover;">
              </div>
              <div class="cell small-7">
                  <div class="card-content">
                      <h4 class="h5">Argenta</h4>
                      <p>Medallón x2, cheddar, panceta, cebolla caramelizada, lechuga, tomate y salsa BBQ</p>
                      <p>$9.500</p>
                      <div class="grid-x align-center">
                          <div class="cell shrink">
                              <button class="button secondary expanded">Cargar al carrito</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Carta 3: Vegetariana -->
      <div class="card border-dark my-2">
          <div class="grid-x grid-padding-x">
              <div class="cell small-5">
                  <img class="thumbnail" src="{{url_for('static', filename='img/burgers/vegetariana.jpg')}}" alt="Vegetariana" style="height: 100%; object-fit: cover;">
              </div>
              <div class="cell small-7">
                  <div class="card-content">
                      <h4 class="h5">Vegetariana</h4>
                      <p>Medallón de vegetales, queso provolone, champiñones, cebolla caramelizada y salsa pesto</p>
                      <p>$9.000</p>
                      <div class="grid-x align-center">
                          <div class="cell shrink">
                              <button class="button secondary expanded">Cargar al carrito</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section id="papas" class="card-section">
  <div class="grid-container" style="margin-bottom: 50px;">
      <div class="grid-x grid-padding-x">
          <div class="cell">
              <h2 class="text-center">Papas</h2>
          </div>
      </div>

      <!-- Carta 1: Papas Fritas -->
      <div class="card border-dark my-2">
          <div class="grid-x grid-padding-x">
              <div class="cell small-5">
                  <img class="thumbnail" src="{{url_for('static', filename='img/papas/pa_simples.jpg')}}" alt="Papas Fritas" style="height: 100%; object-fit: cover;">
              </div>
              <div class="cell small-7">
                  <div class="card-content">
                      <h4 class="h5">Papas Fritas</h4>
                      <p>$4.500</p>
                      <div class="grid-x align-center">
                          <div class="cell shrink">
                              <button class="button secondary expanded">Cargar al carrito</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Carta 2: Papas Fritas con Cheddar -->
      <div class="card border-dark my-2">
          <div class="grid-x grid-padding-x">
              <div class="cell small-5">
                  <img class="thumbnail" src="{{url_for('static', filename='img/papas/pa_xxl.jpg')}}" alt="Papas Fritas con Cheddar" style="height: 100%; object-fit: cover;">
              </div>
              <div class="cell small-7">
                  <div class="card-content">
                      <h4 class="h5">Papas Fritas con Cheddar</h4>
                      <p>$5.500</p>
                      <div class="grid-x align-center">
                          <div class="cell shrink">
                              <button class="button secondary expanded">Cargar al carrito</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Carta 3: Papas Fritas con Panceta -->
      <div class="card border-dark my-2">
          <div class="grid-x grid-padding-x">
              <div class="cell small-5">
                  <img class="thumbnail" src="{{url_for('static', filename='img/papas/pa_xxl_eggs.jpg')}}" alt="Papas Fritas con Panceta" style="height: 100%; object-fit: cover;">
              </div>
              <div class="cell small-7">
                  <div class="card-content">
                      <h4 class="h5">Papas Fritas con Panceta</h4>
                      <p>$6.000</p>
                      <div class="grid-x align-center">
                          <div class="cell shrink">
                              <button class="button secondary expanded">Cargar al carrito</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>



{% endblock %}
